body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

header {
    background: #2697a7;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

nav {
    margin-left: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: block;
    margin: 10px 0;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    flex: 1;
    padding: 20px;
    text-align: center;
}

section img {
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

footer {
    background: #2697a7;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
